/*
  device size
    - mobile
    - tablet
    - desktop
*/
/*
  font
    - size
    - color
    - familiy
*/
/*
  background
    - color
*/
/*
  padding 
*/
/*
  margin
*/
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
}

.wrapper-padding-side {
  padding: 0 20px;
}

.list-margin-right {
  margin-right: 15px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.skip {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  width: 200px;
}

.skip a {
  display: block;
  position: absolute;
  top: 0;
  left: -9999px;
  padding: 8px 12px;
  background: #000;
  color: #fff;
}

.skip .skip-content:hover, .skip .skip-content:focus,
.skip .skip-movie-category:hover,
.skip .skip-movie-category:focus {
  left: 0;
}

body {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px  1px #999;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

header h2 {
  float: left;
}

header h2 a {
  color: #fff;
}

header label {
  float: right;
  padding: 5px;
  border: 0;
  background-color: transparent;
}

header label i {
  color: #fff;
  margin-top: -10px;
  margin-left: 5px;
  display: inline-block;
}

header input {
  float: right;
  width: 150px;
  height: 20px;
  margin-top: -7px;
  background-color: transparent;
  color: #fff;
  border: 0 none;
}

header .search-list {
  float: right;
  position: absolute;
  width: 200px;
  background-color: rgba(99, 111, 133, 0.651);
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  max-height: 500px;
  overflow-y: scroll;
}

header .search-item {
  display: block;
  padding: 10px;
}

@media screen and (min-width: 1200px) {
  header .wrapper {
    padding: 20px 80px;
    position: relative;
  }
  header .wrapper h2 a {
    font-size: 1.5rem;
  }
  header .wrapper i {
    font-size: 1.2rem;
    font-weight: bold;
  }
  header .search-list {
    right: 80px;
    top: 60px;
  }
  header input {
    padding: 5px 7px;
    border: 1px solid #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  header .wrapper {
    padding: 21px 40px;
  }
  header .wrapper h2 a {
    font-size: 1.3rem;
  }
  header .wrapper i {
    font-size: 1.2rem;
    font-weight: bold;
  }
  header .search-list {
    right: 50px;
    top: 60px;
  }
  header input {
    padding: 5px 7px;
    border: 1px solid #fff;
  }
}

@media screen and (max-width: 768px) {
  header .wrapper {
    position: relative;
    padding: 22px 20px;
  }
  header .wrapper h2 a {
    font-size: 1.2rem;
  }
  header .wrapper i {
    font-size: 1rem;
    font-weight: bold;
  }
  header .wrapper input {
    position: absolute;
    top: 22px;
    right: 50px;
    width: 0;
  }
  header .search-list {
    right: 20px;
    top: 70px;
  }
}

.main-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url("../assets/wrath-of-the-titans.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.main-banner-inner {
  padding-top: 300px;
  padding-bottom: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-banner-content h4 {
  margin-bottom: 10px;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
}

.main-banner-content p {
  font-size: 12px;
  color: #fff;
}

.main-banner-content p span {
  margin-right: 15px;
}

.main-banner-rating {
  padding: 7px 12px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #494C62;
  border-radius: 4px;
}

.main-banner-rating p {
  margin-bottom: 10px;
  font-size: 10px;
  color: #80818a;
}

.main-banner-rating p span {
  font-size: 14px;
  color: #fff;
}

.main-banner-rating ul::after {
  content: '';
  display: block;
  clear: both;
}

.main-banner-rating ul li {
  float: left;
}

.main-banner-rating ul i {
  color: #ff0079;
}

@media screen and (min-width: 1200px) {
  .main-banner-inner::after {
    content: '';
    display: block;
    clear: both;
  }
  .main-banner-inner .main-banner-content {
    float: left;
  }
  .main-banner-inner .main-banner-rating {
    float: right;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-banner-inner::after {
    content: '';
    display: block;
    clear: both;
  }
  .main-banner-inner .main-banner-content {
    float: left;
  }
  .main-banner-inner .main-banner-rating {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .main-banner-inner {
    padding-top: 250px;
    padding-bottom: 80px;
  }
  .main-banner-rating {
    display: inline-block;
    margin-top: 20px;
  }
}

main {
  background: #f8f8f8;
}

.main-content {
  position: relative;
  background: #f8f8f8;
  z-index: 50;
}

.main-content-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.section-category {
  position: relative;
  z-index: 100;
  border-bottom: 1px solid #BBBCC4;
}

.section-category::after {
  content: '';
  display: block;
  clear: both;
}

.section-category button {
  padding: 15px 10px;
  position: relative;
  background: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.section-category .movie-category {
  float: left;
}

.section-category .movie-list-change {
  float: right;
}

.section-movie-list {
  padding: 20px 0;
}

.movie-category button {
  overflow: visible;
  font-size: 16px;
}

.movie-category button.active, .movie-category button:hover, .movie-category button:focus {
  color: #ff0079;
}

.movie-category > ul::after {
  content: '';
  display: block;
  clear: both;
}

.movie-category > ul > li {
  float: left;
  margin-right: 15px;
}

.movie-category > ul > li:last-child {
  margin-right: 0;
}

.movie-category .sub-category {
  position: absolute;
  display: none;
  background: #f8f8f8;
  width: 100%;
  top: calc(100% + 1px);
  left: 0;
}

.movie-category .sub-category::after {
  content: '';
  display: block;
  clear: both;
}

.movie-category .sub-category > li {
  float: left;
}

.movie-category .sub-category.active {
  display: block;
}

@media screen and (max-width: 768px) {
  .movie-category button {
    font-size: 10px;
  }
  .movie-category > ul > li {
    margin-right: 0px;
  }
}

.movie-list-change ul::after {
  content: '';
  display: block;
  clear: both;
}

.movie-list-change ul li {
  float: left;
}

.movie-list-change ul button {
  padding-top: 9px;
  padding-bottom: 9px;
}

.movie-list-change ul button i {
  line-height: 24px;
}

.movie-list-change ul button.active, .movie-list-change ul button:hover {
  color: #ff0079;
}

.section-movie-list {
  margin-top: 35px;
}

.section-movie-list ul::after {
  content: '';
  display: block;
  clear: both;
}

.section-movie-list ul li {
  box-sizing: border-box;
  float: left;
}

.section-movie-list ul figure {
  cursor: pointer;
}

.section-movie-list .list-img-box {
  position: relative;
}

.section-movie-list .list-img-box img {
  width: 100%;
  height: auto;
}

.section-movie-list .movie-info {
  background: #fff;
  box-sizing: border-box;
}

.section-movie-list .movie-info::after {
  content: '';
  display: block;
  clear: both;
}

.section-movie-list .movie-info > * {
  float: left;
}

.section-movie-list .movie-info .movie-info-wrapper1 {
  color: #BBBCC4;
}

.section-movie-list .movie-info .title {
  color: #494C62;
}

.section-movie-list .movie-info .genre {
  color: #BBBCC4;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}

.section-movie-list .movie-info .rating {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #ff0079;
  border-radius: 4px;
  color: #ff0079;
}

.section-movie-list .movie-list-loading {
  display: block;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

.section-movie-list .movie-list-loading .fa {
  font-size: 45px;
}

.section-movie-list.module .list-img-box .year {
  position: absolute;
  left: 10px;
  bottom: 15px;
  padding: 5px 7px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #BBBCC4;
  border-radius: 4px;
  color: #BBBCC4;
}

.section-movie-list.module .movie-info .movie-info-wrapper1 {
  width: 80%;
}

.section-movie-list.module .movie-info .movie-info-wrapper2 {
  width: 20%;
  text-align: right;
}

.section-movie-list.module .movie-info .title {
  margin-bottom: 5px;
}

.section-movie-list.module .movie-info .rating, .section-movie-list.module .movie-info .title {
  margin-top: 7px;
}

.section-movie-list.list figure {
  position: relative;
}

.section-movie-list.list .list-img-box {
  width: 18%;
}

.section-movie-list.list .list-img-box .year {
  display: none;
}

.section-movie-list.list .movie-info {
  position: absolute;
  top: 0;
  left: 18%;
  width: 82%;
  height: 100%;
}

.section-movie-list.list .movie-info .movie-info-wrapper1 {
  position: relative;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

.section-movie-list.list .movie-info .movie-info-wrapper2 {
  position: relative;
  width: 20%;
  height: 100%;
  text-align: center;
}

.section-movie-list.list .movie-info .movie-info-wrapper2 .rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .section-movie-list.module li {
    width: 100%;
    padding: 10px 15px;
  }
  .section-movie-list.list li {
    width: 100%;
    padding: 10px 0;
  }
  .section-movie-list.list figcaption {
    padding: 10px 15px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper1 .title {
    margin-bottom: 7px;
    font-size: 16px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper1 .genre {
    font-size: 14px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper2 .rating {
    font-size: 16px;
  }
  .section-movie-list figcaption {
    padding: 20px 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section-movie-list.module li {
    width: calc(100% / 2);
    padding: 10px 20px;
  }
  .section-movie-list.list li {
    width: 100%;
    padding: 10px 50px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper1 .title {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper1 .genre {
    font-size: 18px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper2 .rating {
    padding: 7px 12px;
    font-size: 18px;
  }
  .section-movie-list figcaption {
    padding: 20px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-movie-list.module li {
    width: calc(100% / 4);
    padding: 10px 15px;
  }
  .section-movie-list.list li {
    width: 100%;
    padding: 10px 200px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper1 .title {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper1 .genre {
    font-size: 20px;
  }
  .section-movie-list.list .movie-info .movie-info-wrapper2 .rating {
    padding: 10px 15px;
    font-size: 20px;
  }
  .section-movie-list figcaption {
    padding: 20px 10px;
  }
}

.modal {
  position: fixed;
  z-index: 10002;
  background-color: #181818;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.modal-close-btn {
  float: right;
  border: none;
  background-color: #181818;
  color: #fff;
}

.modal-contents {
  float: left;
}

.modal-contents span {
  display: block;
}

.modal-year {
  color: #dedede;
}

.modal-genre {
  color: #a1a1a1;
}

.modal-summary {
  color: #b8b8b8;
}

@media screen and (min-width: 1200px) {
  .modal {
    padding: 20px;
    width: 700px;
  }
  .modal-close-btn {
    font-size: 1.4rem;
  }
  .modal-poster {
    float: left;
  }
  .modal-contents {
    width: 400px;
    margin-left: 30px;
  }
  .modal-contents span {
    margin-top: 16px;
  }
  .modal-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
  }
  .modal-genre {
    font-size: 1rem;
  }
  .modal-summary {
    margin: 50px 0;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .modal {
    padding: 20px;
    width: 560px;
  }
  .modal-close-btn {
    font-size: 1.4rem;
  }
  .modal-poster {
    float: left;
  }
  .modal-poster img {
    width: 200px;
  }
  .modal-contents {
    float: right;
    width: 300px;
    margin-left: 30px;
  }
  .modal-contents span {
    margin-top: 16px;
  }
  .modal-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 16px;
  }
  .modal-genre {
    font-size: 1rem;
  }
  .modal-summary {
    margin: 50px 0;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 10px 20px;
    width: 250px;
  }
  .modal-close-btn {
    font-size: 1.4rem;
  }
  .modal-poster {
    margin-top: 40px;
  }
  .modal-poster img {
    width: 250px;
    height: 300px;
  }
  .modal-contents {
    width: 240px;
  }
  .modal-contents span {
    margin-top: 12px;
  }
  .modal-title {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 12px;
  }
  .modal-genre {
    font-size: 1rem;
  }
  .modal-summary {
    margin: 30px 0;
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.none {
  display: none;
}

footer {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #ededed;
  z-index: 100;
}

footer .wrapper .footer {
  position: relative;
  color: #999;
}

footer .wrapper .footer i {
  position: relative;
  color: #999;
}

@media screen and (min-width: 1200px) {
  footer {
    height: 60px;
  }
  footer .wrapper {
    width: 700px;
    padding: 10px 0;
    margin: 0 auto;
  }
  footer .wrapper .footer::after {
    content: '';
    display: block;
    clear: both;
  }
  footer .wrapper .footer p {
    font-size: 1.2rem;
    margin-top: 12px;
    float: left;
  }
  footer .wrapper .footer i {
    top: 5px;
    margin-left: 30px;
    font-size: 2rem;
    float: right;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer {
    height: 65px;
  }
  footer .wrapper {
    width: 450px;
    margin: 0 auto;
    padding: 10px 0;
  }
  footer .wrapper .footer p {
    font-size: 1.2rem;
  }
  footer .wrapper .footer .github {
    margin-left: 180px;
  }
  footer .wrapper .footer .github i {
    top: 3px;
    margin-left: 20px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  footer {
    height: 100px;
  }
  footer .wrapper {
    padding: 20px;
  }
  footer .wrapper .footer p {
    font-size: 1rem;
    text-align: center;
  }
  footer .wrapper .footer .github {
    margin-left: 39%;
  }
  footer .wrapper .footer .github i {
    top: 3px;
    margin-left: 5px;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=stylesheets.css.map */