.movie-list-change {
  ul {
    @include clearfix;

    li {
      float: left;
    }
    button {
      padding-top: 9px;
      padding-bottom: 9px;
      i {
        line-height: 24px;
      }
      &.active,
      &:hover {
        color: $font-color2;
      }
    }
  }
}

@include breakpoint(0, 523px) {
  .movie-list-change {
    position: absolute;
    top: 10px;
    right: 0;
  }
}