.movie-category {
  // padding: 20px 0 10px 0;
  // position: relative;
  button {
    overflow: visible;
    font-size: 16px;
    &.active,
    &:hover,
    &:focus {
      color: $font-color2;
      // &::after,
      // &:after {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   bottom: -1px;
      //   background: $background-color1;
      //   width: 100%;
      //   height: 1px;
      // }
    }

  }
  & > ul {
    
    @include clearfix;
    & > li {
      float: left;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .sub-category {
    position: absolute;
    display: none;
    background: $background-color2;
    width: 100%;
    top: calc(100% + 1px);
    left: 0;
    @include clearfix;
    & > li {
      float: left;
    }

    &.active {
      display: block;
    }
  }
}

@include breakpoint(0, 523px) {
  .movie-category {
    margin-top: 50px;
    button {
      font-size: 14px;
      
    }
    & > ul {
      & > li {
        margin-right: 0px;
      }
    }
  }
}
@include breakpoint(0, 321px) {
  .movie-category {
    button {
      font-size: 11px;
    }
  }
}
