footer {
  // position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: hsl(0, 0%, 93%);
  .wrapper {
    .footer {
      position: relative;
      color: #999;
      i {
        position: relative;
        color: #999;
      }
    }
  }
}


@include desktop {
  footer {
    height: 60px;  
    .wrapper{
      width: 700px;
      padding: 10px 0;
      margin: 0 auto;     
      .footer {
        p {
          font-size: 1.2rem;
          margin-top: 12px;
          float: left;
        }
        i {
          top: 5px;
          margin-left: 30px;
          font-size: 2rem;
          float: right;
        }
      }
    }
  }
}

@include tablet {
    footer {
      height: 65px;
      .wrapper{
        width: 450px;
        margin: 0 auto;
        padding: 10px 0;
        .footer {
          p {
            font-size: 1.2rem;
          }
          .github {
            margin-left: 180px;
            i {
              top: 3px;
              margin-left: 20px;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }

@include mobile {
  footer {
    height: 90px;
    .wrapper{
      padding: $wrapper-padding;
      .footer {
        p {
          font-size: 1rem;
        }
        .github {
          margin-left: 39%;
          i {
            top: 3px;
            margin-left: 5px;
            font-size: 2rem;
          }
        }
      }
    }
  }
}