footer {
  z-index: 100;
  width: 100%;
  text-align: center;
  background-color: hsl(0, 0%, 93%);
  &:after {
    @include clearfix;
  }
  p {
    color: #999;
  }
  i {
    color: #999;
  }
}


@include desktop {
  footer {
    min-height: 60px;
    &:after {
      @include clearfix;
    }
  }
  .footer-wrapper {
    width: 768px;
    margin: 0 auto;
  }
  .copyright {
    float: left;
    margin-top: 20px;
    font-size: 1.4rem;
  }
  .github {
    float: right;
    margin-top: 15px;
    i {
      font-size: 2rem;
      margin-left: 10px;
    }
  }
}

@include tablet {
  footer {
    min-height: 60px;
    
  }
  .copyright {
    display: inline-block;
    font-size: 1.2rem;
  }
  .github {
    display: inline-block;
    margin-top: 10px;
    i {
      font-size: 2rem;
      margin-left: 10px;
    }
  }
}


@include mobile {
  footer {
    min-height: 60px;
  }
  .copyright {
    display: block;
    padding-top: 20px;
    font-size: 1rem;
  }
  .github {
    display: block;
    padding: 10px 0;
    i {
      font-size: 1.8rem;
      margin-left: 10px;
    }
  }
}