// s: 건너뛰기 링크
body {
  position: relative;
}
.skip {
  position: absolute;
  padding-left: calc((100% - 100px ) / 2);
  top: -30px;
  // opacity: 0;
  a {
    display: inline-block;
    z-index: 100;
    width: 100px;
    padding: 2px 0;
    color: $font-color1;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
  }
}
// e: 건너뛰기 링크 (필요한 기능인가?)

// s: header 공통
header {
  @include clearfix;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.2);
  text-shadow: 1px 1px  1px #999;
  
  h2 {
    float: left;
    a {
      color: $font-color1;      
    }
  }
  label {
    float: right;
    padding: 5px;
    border: 0;
    background-color: rgba(0,0,0,0);


    i {
      color: $font-color1;
      margin-top: -10px;
      margin-left: 5px;
      display: inline-block;
    }
  }




  // 수정 필요
  input {
    float: right;
    width: 150px;
    height: 20px;
    margin-top: -7px;
    padding: 5px 7px;
    border: 1px solid $font-color1;
    background-color: rgba(0,0,0,0);
    color: #fff;
    // opacity: 0;
  }
  
  .search-list {
    float: right;
    position: absolute;
    right: 70px;
    top: 60px;
    width: 200px;
    background-color: rgba(99, 111, 133, 0.651);
    color: $font-color1;
    font-weight: normal;
    text-shadow: none;  
  }
  .search-item {
    display: block;
    padding: 10px;
  }
  
  // 수정 필요

}
  // e: header 공통

@include desktop {
  header {
    .wrapper {
      padding: $wrapper-padding $wrapper-padding + 60;
      h2 {
        a {
          font-size: 1.5rem;
          
        } 
      }
      i {
        font-size: 1.2rem;
        font-weight: bold; 
      }
    }
  }
}

@include tablet {
  header {
    .wrapper {
      padding: $wrapper-padding + 1 $wrapper-padding + 20;
      h2 {
        a {
          font-size: 1.3rem;
        } 
      }
      i {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}

@include mobile {
  header {
    .wrapper {
      padding: $wrapper-padding + 2 $wrapper-padding;
      h2 {
        a {
          font-size: 1.2rem;
        } 
      }
      i {
        font-size: 1rem;
        font-weight: bold;

      }
      input {
        width: 100px;
      }
    }
  }
}

